.header-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    margin-bottom: 10px;
    .logo-container {
        margin: 10px;

        img {
            width: 215px;
            height: 59px;
        }
    }

    .nav-items {
        ul {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            list-style-type: none;
            font-size: 1.1rem;

            li {
                cursor: pointer;

                a {
                    text-decoration: none;

                    :visited {
                        text-decoration: none;
                    }
                }
            }
        }
    }

}