.header-container {
    display: flex;
    justify-content: space-between;

    .logo-container {
        margin: 10px;

        img {
            width: 215px;
            height: 59px;
        }
    }

    .nav-items {
        ul {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            list-style-type: none;

            li {
                cursor: pointer;

                a {
                    text-decoration: none;

                    :visited {
                        text-decoration: none;
                    }
                }
            }
        }
    }

}