.restaurant-container {
  display: flex;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;

  .search-area {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    .filterBtn {
      border-radius: 18px;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(226, 226, 231);
      padding: 9px 12px;
      display: inline-grid;
      width: max-content;
      grid-auto-flow: column;
      gap: 8px;
      box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
      transition: all 100ms ease-in 0s;
      cursor: pointer;
    }
  }

  .cards-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    .cards-area {
      justify-content: center;
    }
  }
}
