.restuarant-details-container {
    max-width: 800px;
    margin: 20px auto;


    .dotted-line {
        border-top: 1px dotted #000;
        margin-bottom: 10px;
    }

    .restaurant-info {
        display: flex;
        justify-content: space-between;

        .restaurant-ratings-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border: 1px solid gray;
            margin: 14px;
            padding: 5px;

            .avg-ratings {
                color: #3d9b6d;
                padding-bottom: 10px;
                border-bottom: 1px solid #e9e9eb;
                font-weight: 700;
                margin-bottom: 8px;
                display: block;
                text-align: center;
            }

            .total-ratings {
                font-weight: 600;
                font-size: 12px;
                color: #8b8d97;
            }
        }
    }
}

// Variables for customization
$accordion-item-height: 50px;
$accordion-transition-duration: 0.3s;

// Accordion styles
.accordion {
    .accordion-item {
        border-bottom: 1px solid #ccc;

        .accordion-header {
            cursor: pointer;
            height: $accordion-item-height;
            display: flex;
            align-items: center;
            padding: 0 16px;
            font-weight: bold;
            transition: background-color $accordion-transition-duration;

            &:hover {
                background-color: #f2f2f2;
            }
        }

        .accordion-content {
            display: none;
            padding: 16px;

            &.expanded {
                display: block;
            }
        }
    }

    .accordion-item:first-child .accordion-content {
        display: block;
    }
}