$accordion-item-height: 50px;
$accordion-transition-duration: 0.3s;
.restuarant-details-container {
  max-width: 800px;
    margin: 20px auto;

  .cost-for-two {
      font-size: 1.1rem;
      font-weight: 800;
      margin-bottom: 0.7rem;
    }

    .dotted-line {
      border-top: 1px dotted #000;
        margin-bottom: 10px;
    }

    .restaurant-info {
      display: flex;
        justify-content: space-between;

    .restaurant-ratings-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      border: 1px solid #e9e9eb;
        margin: 14px;
        padding: 5px;

      .avg-ratings {
          color: #3d9b6d;
          padding-bottom: 10px;
          border-bottom: 1px solid #e9e9eb;
          font-weight: 700;
          margin-bottom: 8px;
          display: block;
          text-align: center;
        }

            .total-ratings {
              font-weight: 600;
                font-size: 12px;
                color: #8b8d97;
            }
                                                                                                                                                                                                }
                                                                                                .restaurant-address-container {
                                                                                                  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
                                                
                                                                                                  p {
                                                                                                    margin: 0;
                                                                                                    padding: 0;
                                                                                                  }
                                                
                                                                                                  .restaurant-name {
                                                                                                    font-size: 1.43rem;
                                                                                                    font-weight: 600;
                                                                                                    color: #282c3f;
                                                                                                    margin-bottom: 8px;
                                                                                                    text-transform: capitalize;
                                                                                                  }
                                                
                                                                                                  .area-name {
                                                                                                    font-size: 0.9rem;
                                                                                                    color: #7e808c;
                                                                                                    margin-bottom: 2px;
                                                                                                  }
                                                
                                                                                                  .cuisines {
                                                                                                    font-size: 0.9rem;
                                                                                                    color: #7e808c;
                                                                                                  }
                                                                                                }
    }
                                }


.accordion {
  .accordion-item {
      border-bottom: 1px solid #ccc;

    .accordion-header {
        cursor: pointer;
        height: $accordion-item-height;
        display: flex;
        align-items: center;
        padding: 0 16px;
        font-weight: bold;
      font-size: 1.2rem;
      transition: background-color $accordion-transition-duration;
      background-color: #ccc;

      &:hover {
          background-color: #f2f2f2;
        }
      }

        .accordion-content {
          display: none;
            padding: 16px;

      &.expanded {
          display: block;
        }
color: #3e4152;
        }
                                                                                                                                }

    .accordion-item:first-child .accordion-content {
      display: block;
    }
}